<template>
  <div class="editor">
    <wysiwyg v-model="editor" placeholder="بنویسید" localStorage/>
  </div>
</template>
<script>

  export default {
    props: ['value'],
    data() {
      return {
        editor: null,
      }
    },
    computed: {
      content() {
        return this.editor;
      }
    },
    watch: {
      value(val) {
        this.editor = val;
      },
      content(val) {
        this.$emit('input', this.content);
      }
    },
    methods: {
      startEditor() {
        this.editor = this.value;
      },

    },
    mounted() {
      this.startEditor();
    },
    beforeDestroy() {
      // Always destroy your editor instance when it's no longer needed

    },
    components: {},
  }
</script>

<style>
  pre {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    direction: ltr;
    text-align: left;
    background-color: #f3ffed;
    font-size: 12px;
    line-break: auto;
    text-wrap: normal;
    word-wrap: break-word;
  }
</style>

<style lang="stylus">
  @import 'highlight.js/styles/github-gist.css';
  @import "vue-wysiwyg/dist/vueWysiwyg.css"
</style>
