<div>برای قالب دهی و شکل دهی به سایت، فولدرهای لیوت ( لایه ، layout) و صفحه (page) مورد استفاده
 قرار می گیرند.</div><div> لیوت ها حکم پدر و صفحات ها حکم فرزند را دارند. شاکله و 
قسمت های ثابت قالب در لیوت قرار می گیرد و محتوای متغیر صفحات در فولدر 
page قرار می گیرد. در لیوت از asyncData نمی توان استفاده کرد. کدهای 
قرارگرفته در لیوت و پیج هر دو دارای سه قسمت template, script و style‌ می
 باشد. تگ template ضروری می باشد و فقط می تواند یک تگ درونی داشته باشد.<br></div><div align="left"><br></div><div align="left"><br></div><div><pre>برای مثال فایل لیوت داشبورد ادمین: <br>~/layout/admin.vue<br></pre></div><div><pre>&lt;template&gt;<br>&lt;div&gt;<br> &lt;navbar&gt;...&lt;/navbar&gt;<br> &lt;main&gt;<br>  &lt;nuxt /&gt; &lt;!-- صفحه در اینجا لود می شود --&gt;<br> &lt;main&gt;<br> &lt;footer&gt;<br> ...<br> &lt;/footer&gt;<br>&lt;/div&gt;<br>&lt;/template&gt;<br><br>&lt;script&gt;<br>export default {<br><br>data(){<br> return {<br><br> }<br>},<br><br>}<br>&lt;/script&gt;<br></pre></div><div><br></div><div><br></div><div>به صورت پیشفرض لیوت Default.vue برای تمامی صفحات استفاده می شود. اگر می خواهید لیوت را به صفحه یا گروهی از صفحات اختصاص دهید کافی است نام لیوت را در مقابل layout بنویسید.</div><div><br></div><div><pre>برای مثال صفحه ی زیر:<br>~/pages/adminAuth.vue<br><br></pre></div><div><br></div><div><pre>&lt;template&gt;<br> &lt;div&gt;<br>  &lt;nuxt /&gt; &lt;!-- حالا تمامی فایل های پوشه ی ادمین هم از لیوت این صفحه استفاده می کنند --&gt;<br> &lt;/div&gt;<br>&lt;/template&gt;<br>&lt;Script&gt;<br><br>&lt;script&gt;<br>export default {<br>layout: "admin" // نام فایل لیوت را بنویسید<br>}<br>&lt;/script&gt;<br></pre></div>