<template> 
<form @submit.prevent="addCode"  class="form">
    <label>
	<textarea
	    @click="focusable"
	    class="codePlace"
		placeholder="Code Here"
	    style="width: 80%;height:80%px;z-index:99999;border:1px solid #000;direction:ltr;text-align:left;" 
        :id="uid+'vwhighlightjs'"
        ref="highlightjs"
        v-model='code'
        />
     </label> 
	<button type="submit">چسباندن</button>
</form> 
</template>

<script>
  const hljs = require('highlight.js');
  import bus from 'src/editor/bus.js';

export default {
    title: "highlightjs",
    icon: '<svg height="1792" viewBox="0 0 1792 1792" width="1792" xmlns="http://www.w3.org/2000/svg"><path d="M553 1399l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23t-10 23l-393 393 393 393q10 10 10 23t-10 23zm591-1067l-373 1291q-4 13-15.5 19.5t-23.5 2.5l-62-17q-13-4-19.5-15.5t-2.5-24.5l373-1291q4-13 15.5-19.5t23.5-2.5l62 17q13 4 19.5 15.5t2.5 24.5zm657 651l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23t-10 23z"/></svg>',
    description: "Insert HightlightJs",

    props:{
	 uid: null
	},
	data(){
	return {
	  code: '',
	  codeType:'vue'
	 }
	}, 
    methods: { 
	    convert(mystring){
		  return mystring.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/"/g, "&quot;");
		},
        addCode () {
		       //hljs.configure({useBR: true});
			   let highlightedCode = hljs.highlightAuto(this.code).value
               this.$emit("exec", "insertHTML", `<pre  class="code">${highlightedCode}</pre>`);
			   this.$parent.closeDashboard();
               this.code = ""; 
        },
		focusable(){
		 this.$refs.highlightjs.focus();
		}
    } 
}
</script>

<style lang="stylus" scoped>
.form 

  label
    margin-right 1rem

</style>