<template>
  <span class="py-2"><v-img max-width="100%" max-height="100%" :src="`/icons/${name}.svg`"/></span>
</template>

<script>


  export default {
    props: {
      name: '',
    },
  }
</script>
