$animate: all 0.2s ease-in-out;

.document .underlineStyle {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 5px;

  .hover {
    padding: 0;
    transition: $animate;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 5px;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.75s;
      opacity: 0;
      background-color: darken(orange, 5%);
    }

    &.hover-1 {
      &:before,
      &:after {
        left: 0;
      }
    }

    &.hover-2 {
      &:before,
      &:after {
        right: 0;
      }
    }

    &.hover-3 {
      &:before {
        left: 50%;
      }

      &:after {
        right: 50%;
      }
    }

    &.hover-4 {
      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }

  &:hover {
    cursor: pointer;

    .hover {
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
      }

      &.hover-3,
      &.hover-4 {
        &:before,
        &:after {
          width: 50%;
        }
      }
    }
  }
}

.document {

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td, th {
      min-width: 1em;
      border: 2px solid grey;
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      text-align: left;
    }

    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(200, 200, 255, 0.4);
      pointer-events: none;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: 0;
      width: 4px;
      z-index: 20;
      background-color: #adf;
      pointer-events: none;
    }
  }

  .tableWrapper {
    margin: 1em 0;
    overflow-x: auto;
  }

  .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

}
