<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :clipped="clipped"
      fixed
      right
      app
    >
      <v-list>
        <v-list-group v-for="menuItem in menu" :key="menuItem.title">

          <template v-slot:activator>
            <v-list-item-title>{{menuItem.title}}</v-list-item-title>
          </template>

          <template v-for="(item, i) in menuItem.items">
            <template v-if="item.items">

              <v-list-group
                sub-group
              >
                <template v-slot:activator>
                  <v-list-item-content>
                    <v-list-item-title
                      @click="goto('/documents/' + _.get(menuItem,'slug','') + '/' +  _.get(item,'slug',''))">
                      {{_.get(item,'title','')}}
                    </v-list-item-title>
                  </v-list-item-content>
                </template>

                <v-list-item
                  link
                  v-for="subItem in item.items"
                  :to="'/documents/' + _.get(menuItem,'slug','') + '/' +  _.get(item,'slug','') + '#' + _.get(subItem,'slug','')"
                  :key="subItem.slug"
                  @click="$vuetify.goTo('#' + _.get(subItem,'slug',''))"
                >
                  <v-list-item-title class="font-10" v-text="_.get(subItem,'title','')"></v-list-item-title>
                  <v-list-item-icon>
                    <v-icon v-text="_.get(subItem,'icon','')"></v-icon>
                  </v-list-item-icon>
                </v-list-item>
              </v-list-group>
            </template>
            <v-list-item
              v-else
              :to="'/documents/' + _.get(menuItem,'slug','') + '/' + _.get(item,'slug','')"
              router
              exact
            >
              <v-list-item-action>
                <v-icon>{{_.get(item,'icon','')}}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title v-text="_.get(item,'title','')"/>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"/>
      <v-spacer/>
      <v-toolbar-title v-text="title"/>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt/>
      </v-container>
    </v-content>

    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
  import fa from "../assets/lang/validator/fa";

  export default {
    data() {
      return {
        clipped: false,
        drawer: true,
        fixed: false,
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'ناکس جی اس'
      }
    },
    computed: {
      menu() {
        return this.$store.state.menu.menu;
      }
    },
    async fetch() {
      try {
        if (this.isMenuSet()) return null;
        this.updateMenu(await this.$axios.$get("/menu"));
      } catch (e) {
        this.$swal.fire('مشکل در فراخوانی منو')
      }
    },
    methods: {
      isMenuSet() {
        let data = this.$store.state.menu;
        if (_.isArray(data)) {
          this.menu = data;
        } else {
          return false;
        }
      },
      updateMenu(data) {
        this.$store.commit('menu/updateMenu', data);
      },
      goto(path) {
        return this.$router.push(path)
      },
    }
  }
</script>
