<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <div class="text-center">
        <logo/>
        <vuetify-logo/>
      </div>
      <v-card>
        <v-card-title class="headline">
          به مرجع آموزش فریمورک ناکس جی اس به زبان فارسی خوش آمدید!
        </v-card-title>
        <v-card-text>
          <p>ناکس جی اس (nuxtjs) یک فریمورک فرانت اند مبتنی بر ویو جی اس (vuejs) می باشد که با زبان جاوا‌اسکریپت نوشته شده است.</p>
          <p>
            برای شروع کار با ناکس روی گزینه مستندات کلیک کنید: <a
            href="/documents"
            target="_blank"
          >
            مستندات ناکس جی اس به زبان فارسی
          </a>.
          </p>
          <p>
            اگر سوالی دارید به گروه ما ملحق شوید <a
            href="https://t.me/nuxt_ir"
            target="_blank"
            title="chat"
          >
            لینک ورود به گروه
          </a>.
          </p>
          <p>
            مشکلی در فریمورک پیدا کردید؟ در گیتاب گزارش دهید! <a
            href="https://github.com/vuetifyjs/vuetify/issues"
            target="_blank"
            title="contribute"
          >
            برد ایشوها
          </a>.
          </p>

          <br>
          <a
            href="https://github.com/nuxt/nuxt.js"
            target="_blank"
          >
            گیتاب ناکس جی اس
          </a>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn
            color="primary"
            nuxt
            to="/documents"
          >
            نصب ناکس جی اس
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import Logo from '~/components/Logo.vue'
  import VuetifyLogo from '~/components/VuetifyLogo.vue'

  export default {
    metaInfo: {
      title: 'ناکس به فارسی - فریمورک فرانت اند مبتنی بر ویو جی اس',
    },
    components: {
      Logo
    },
    layout: 'landingPage'
  }
</script>
