<div>شاید مهمترین فولدر ناکس همین باشد. در این فولدر صفحات با فرمت<u> vue. </u>قرار میگیرند و متناسب با فولدرها و فایل ها روتینگ ناکس شکل می گیرد. <br></div><div><pre>فایل <br>pages/user/profile.vue<br><br>برابر است با<br>http://site.com/user/profile<br></pre></div>