<div>فایل های غیرقابل تغییر که قابلیت دانلود مسقیم دارند در این فولدر قرار می گیرند. این فولدر را نمی توان تغییر نام داد. برای مثال</div><div><br></div><div><pre>/static/favicon.ico =&gt; https://site.com/favicon.ico<br></pre></div>