<template>
  <div>
    <p>به صفحه ی مستندات فارسی فریمورک nuxt js خوش آمدید. برای شروع بر روی یکی از گزینه های سمت راست کلیک کنید.</p>
    <v-btn to="/documents/intro" type="success">
      <v-icon>left-arrow</v-icon>
      شروع ناکس!
    </v-btn>
  </div>
</template>
<script>
  export default {
    title: 'مستندات فارسی ناکس جی اس'
  }
</script>
