<template>
  <v-container class="document">
    <section>
      <div class="underlineStyle ">
        <h1 class="primary--text text-right font-16 hover hover-3">{{title}}</h1>
      </div>
      <v-card elevation="0" tile v-for="item in items" :key="item.slug" :id="_.get(item,'slug','-')">
        <v-card-title>
          <div class="underlineStyle ">
            <v-btn @click="scrollTo(_.get(item,'slug','-'))" class="mx-0 px-0" text tile elevation="0"
                   color="transparent"
                   :href="'#'+_.get(item,'slug','-')">
              <v-icon class="pl-2" color="info" small>link</v-icon>
              <h2 class="primary--text font-15 hover hover-2">{{_.get(item,'title','-')}}</h2>
            </v-btn>
            <v-btn v-if="canEdit(item.slug)" text tile @click="edit(_.get(item,'slug','-'))">
              <v-icon color="warning" small>edit</v-icon>
            </v-btn>
            <template v-else-if="isInEdit(item.slug)">
              <v-btn
                text tile @click="save(_.get(item,'slug','-'))">
                <v-icon color="info" small>save</v-icon>
              </v-btn>
              <v-btn text tile @click="close(_.get(item,'slug','-'))">
                <v-icon color="warning" small>close</v-icon>
              </v-btn>
            </template>
          </div>
        </v-card-title>
        <v-card-text>
          <article class="font-vazir" v-if="!isInEdit(item.slug)"
                   v-html="_.get(item,'data','-')"></article>
          <div v-else>
            <Editor v-model="editor"></Editor>
          </div>
        </v-card-text>
      </v-card>
    </section>
  </v-container>
</template>
<script>

  import Editor from "~/modules/editor/Editor";

  export default {
    data() {

      return {
        editor: "",
        data: '',
        name: "", content: '', items: {}, path: '',
        isEditing: false,
        enabledSlug: null
      }
    },

    computed: {
      title() {
        let menu = this.$store.state.menu.slugMenu;
        let titlePath = _.join((this.path).split('.'), '.items.') + '.title';
        return _.get(menu, titlePath, titlePath + this.path);
      }
    },
    mounted() {
      let hash = _.get(window, 'location.hash', null)
      if (hash) this.scrollTo(hash)
    },
    methods: {
      scrollTo(id) {
        setTimeout(() => {
          let scrollTo = '#' + id.replace('#', '')
          return this.$vuetify.goTo(scrollTo)
        }, 10)
      },
      isInEdit(slug) {
        return (this.isEditing && this.enabledSlug == slug);
      },
      canEdit(slug) {
        return (process.env.canEdit == 'true' && !this.isEditing);
      },
      edit(slug) {
        // this.$swal.fire('ok wait', slug)
        this.enabledSlug = slug;
        this.isEditing = true;
        // console.log(this.items, {slug})
        this.editor = (this.items[slug].data);
      },
      close(slug) {
        this.$swal.fire({
          title: 'مطمنید؟',
          text: "در صورت بستن ذخیره نمی شود.",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'بله ببند!'
        }).then((res) => {
          if (res.value) {
            this.editor = null;
            this.enabledSlug = null;
            this.isEditing = false;
          }
        })
      },
      updateSlugData(slug, data) {
        this.items[slug].data = data;
      },
      save(slug) {
        // this.$swal.fire('ok wait', slug)
        let html = this.editor;
        let link = this.path + '.' + slug
        //console.log({link, html}, this.items, {slug})
        this.$axios.$put('/save/' + link, {data: html})
          .then(res => {
            if (_.get(res,'status',false) == true) {
              this.updateSlugData(slug, _.get(res, html, html));
              this.enabledSlug = null;
              this.isEditing = false;
              this.$swal.fire('ذخیره شد')
            } else {
              this.$swal.fire(res)
            }
          })
          .catch(e => {
            this.$swal.fire(e)
          })
      }
    },
    async asyncData({params, $axios}) {
      try {
        let path = `${params.folder}.${params.name}`;
        let link = `/content/${path}`;
        let items = await $axios.$get(link);
        // console.log({items, path})
        return {items, path}
      } catch (e) {
        // console.log({e})
      }
    },
    components: {Editor},
  }
</script>
