<template>
  <v-card>
    <v-card-title>name: {{name}}</v-card-title>
    <v-card-text>
      <div v-html="content"></div>
    </v-card-text>
  </v-card>
</template>
<script>


  export default {
    data() {
      return {name: "", content: ''}
    },
    methods: {
    },
    async asyncData({params, $axios}) {
      //console.log({params})
      try {
        let content = await $axios.$get('/content/' + params.folder)
        return {name: params.name, content}
      } catch (e) {
        //console.log({e})
      }
    }
  }
</script>
